In [1]:
import numpy as np
import pandas as pd

In [7]:
folder = r"C:\Users\YaelSuarez\Documents\DoE fibers RGPLGA 13%\raw measurements"
output_folder = r"C:\Users\YaelSuarez\Documents\DoE fibers RGPLGA 13%"

In [8]:
def sets_of_five(folder):
    average = {}
    for fn in sorted(os.listdir(folder)):
        values = []
        if os.path.splitext(fn)[1] not in [".xlsx"]:
            continue
        df_raw = pd.read_excel(os.path.join(folder, fn), engine='openpyxl')
        fol_name = str(fn)
        for i in range (0,120,20):
            if i == 0 :
                values.append(df_raw["Length"].iloc[0:20].mean(axis=0))    
            if i > 20 :
                values.append(df_raw["Length"].iloc[(i-20):i].mean(axis=0))
        average[fol_name] = values   
    df = pd.DataFrame(average)
    display(df)
    df.to_excel(os.path.join(output_folder, "Averages photos from python and raw measurements_five sets.xlsx"), index=False)

def all(folder):
    average = {}
    for fn in sorted(os.listdir(folder)):
        values_average = []
        values_std = []
        if os.path.splitext(fn)[1] not in [".xlsx"]:
            continue
        df_raw = pd.read_excel(os.path.join(folder, fn), engine='openpyxl')
        fol_name = str(fn).replace(".xlsx", "")
        values_average.append(df_raw["Length"].iloc[0:101].mean(axis=0))
        values_std.append(df_raw["Length"].iloc[0:101].std(axis=0))
        average[fol_name] = values_average
        for i in values_std:
            average[fol_name].append(i)
    average["Value"] = ["Average", "STD"]
    df = pd.DataFrame(average)
    df.insert(0, 'Value', df.pop('Value'))
    display(df)
    df.to_excel(os.path.join(output_folder, "Averages photos from python and raw measurements_all.xlsx"), index=False)

In [9]:
sets_of_five(folder)
all(folder)

,N1.xlsx,N2.xlsx,N3.xlsx,N4.xlsx,N5.xlsx,N6.xlsx,N7.xlsx,N8.xlsx
0,1.665150,1.621005,1.623980,1.615410,1.625830,1.393025,1.425745,1.627890
1,1.745170,1.497465,1.607690,1.555395,1.591115,1.458290,1.360420,1.450015
2,1.743710,1.424275,1.544275,1.521730,1.586480,1.363185,1.639800,1.373165
3,1.630980,1.632160,1.719125,1.506070,1.535975,1.385080,1.380475,1.546460
4,1.599435,1.395250,1.703810,1.767210,1.566945,1.443540,1.446320,1.795215

,Value,N1,N2,N3,N4,N5,N6,N7,N8
0,Average,1.676889,1.514031,1.639776,1.593163,1.581269,1.408624,1.450552,1.558549
1,STD,0.175939,0.363317,0.330823,0.306512,0.278252,0.189272,0.411475,0.368433